body{
    background-color: #114D57;
    color: black;
}

header{
    color: #008080;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin-bottom: 2%;
}

footer{
    color: #008080;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin-bottom: 2%;
    width:80%;
}

body h1,h2,h3{
    text-align:center;
    font-style:italic;
}

#weather{
    background-color: white;
    color: black;
    width: 30%;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 20px;
    border-radius: 25px;
}

#historicwrapper{
    background-color: white;
    color: black;
    width: 30%;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
    display: none;
    padding: 20px;
    border-radius: 25px;
}

#historic{
    background-color: white;
    color: black;
    overflow: hidden;
    display: inline-block;
}