<!DOCTYPE html>

<html>
<head>
<link rel = "stylesheet"
      type = "text/css"
        href = "/static/style.css" />

<title>Bike Tracker</title>  
{{trdmap.js}}
</head>


<body>

<header>
<h1>Dublin Bikes Tracker</h1>
</header>

<div id="map">{{trdmap.html}}</div>

<div id="historic"></div>

<!--<script>

//function showDiv(stationName,stationJSON) {
   //var response = stationJSON;
   //var jsonObject = JSON.parse(response);
   //var myResponseResult = jsonObject.available_bikes

   document.getElementById('historic').style.display = "inline-block";
   console.log("Button Pressed Test - Station Name: " + stationName);
   //document.getElementById('historic').innerHTML = "<h2>Historic Data for " + stationName + "</h2>" + "<p>" + stationJSON + "</p>";
//} 

//</script>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script type="text/javascript">
    
   function showDiv(stationName,stationNumber) {
   
    var jqxhr = $.getJSON("http://localhost:5000/station/" + stationNumber, function(){
    console.log("http://localhost:5000/station/" + stationNumber);    

    console.log("success");
    var response = jqxhr;
    var jsonObject = response; //JSON.parse(response);
    //var myResponseResult = jqxhr;

    document.getElementById('historic').style.display = "inline-block";
    console.log("Button Pressed Test - Station Name: " + stationName);
    document.getElementById('historic').innerHTML = "<h2>Historic Data for " + stationName + "</h2>" + "<p>" + JSON.stringify(jsonObject) + "</p>";

    }) 
    
    .done(function(){
        console.log("second success");
    })
    
    .fail(function(){
          console.log("error");
    })
    
    .always(function(){
        console.log("complete");
    });

}

    
</script>

    
</body>
</html>
