<!DOCTYPE html>

<html>
<head>
<link rel = "stylesheet"
      type = "text/css"
        href = "/static/style.css" />

<title>Bike Tracker</title>  
{{trdmap.js}}
</head>


<body>

<header>
<h1>Dublin Bikes Tracker</h1>
</header>

<div id="map">{{trdmap.html}}</div>

<div id="historic"></div>

<script>

function showDiv(stationName) {
   document.getElementById('historic').style.display = "inline-block";
   console.log("Button Pressed Test - Station Name: " + stationName);
   document.getElementById('historic').innerHTML = "<h2>Historic Data for " + stationName + "</h2>";
} 

</script>

</body>
</html>
