body{
    background-color: black;
    color: white;
}

header h1{
    color: #008080;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin-bottom: 2%;
}

#historic{
    background-color: #008080;
    opacity: 0.3;
    color: white;
    width: 30%;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
    display: none;
    padding: 20px;
    box-shadow: 10px 10px 5px #888888;
}